:root {  
    --seagreen: seagreen;
    --violet: rgb(103, 58, 183);
    --gray: rgb(30,30,30);
}

@font-face {
    font-family: WaterResistant;
    src: url(./Fonts/WaterResistant.ttf);
}
@font-face {
    font-family: Unbounded;
    src: url(./Fonts/Unbounded.ttf);
}
@font-face {
    font-family: Consolas;
    src: url(./Fonts/Consolas.ttf);
}
body, html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    scroll-behavior: smooth;
}

li, a, button {
    font-family: Unbounded;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 14% 0px;
    height: 100px;
    transition: all 0.15s ease 0s;
}

#sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    cursor: pointer;
    color: seagreen;
    font-size: 32px;
    font-family: WaterResistant;
    text-shadow: 2px 2px 2px black;
    font-weight: 700;

}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 22px;
    cursor: pointer;
}

.expanded{
    font-size: 22px;
    font-weight: 800;
    transition: all 0.15s ease 0s;
    color: black;
}

.expanded:hover{
    color: seagreen;
}

.collapsed {
    font-size: 22px;
    font-weight: 800;
    transition: all 0.15s ease 0s;
    color: seagreen;
}

.collapsed:hover {
    color: black;
}

i {
    vertical-align: bottom;
}

.coverpage {
    background-image: url("Images/background.png");
    height: 100%;
    background-position: 50% 22%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*pfp code*/
.pfpcontainer {
    text-align: center;
    height: 100%;
    margin: 0;
}

.pfpcontainer h1 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Unbounded;
    font-size: 60px;
}

/*about code*/
#about {
    font-family: Consolas;
    min-height: 100px;
    width: 60%;
    padding-left: 15%;
    padding-right: 25%;
    background-color: var(--gray);
    color: white;
    font-size: 24px;
    margin: 0px !important;
    cursor: default;
}

#about p {
    display: inline;
}

#about .text {
    display: block;
    margin: 0px 0px 0px 80px;
}

#about .symbol {
    color: gray;
}

#about .code {
    color: seagreen;
}

/*skills code*/
#skills {
    position: relative;
    pointer-events: none;
}

#skills h1 {
    position: absolute;
    top: 50px;
    left: 25px;
    z-index: 10;
    color: seagreen;
    font-size: 32px;
    font-family: Unbounded;
}

#skillsList {
    position: absolute;
    top: 3%;
    bottom: 3%;
    right: 5%;
    height: 94%;
    width: 50%;
    border-radius: 10%;
    float: right;
    background-color: var(--gray);
}

/*projects code*/
#projects {
    position: relative;
    height: 700px;
    background-color: var(--gray);
    margin: 0;
}

#seperator {
    border-bottom: 2px solid seagreen;
    width: 80%;
    margin-left: 10%;
    margin: 0px 10% 0px 10%;
}

#projects h1 {
    display: flex;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
    color: seagreen;
    font-family: Consolas;
    font-size: 24px;
    line-height: 50px;
}

#projects #items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 924px;
    width: calc(100% - 20px);
    margin-left: calc((100% - 924px)/2);
}

#projects .card{
    background-color: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    height: 260px;
    width: 300px;
    border-radius: 10px;
    transition: all .15s ease 0s;
}

#projects .card:hover {
    height: 270px;
    width: 310px;

    background-color: rgba(255,255,255,0.01);
    border: 1px solid rgba(255,255,255,0.2);
}

/*contact code*/
#contact {
    text-align: center;
    cursor: default;
    height: 450px;
    background-color: black;
    background-image: url(./Images/map-image.png);
    vertical-align: middle;
}

#contact h2, #contact p {
    color: white;
    font-family: Unbounded;
}
#contact #title {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

#contact p {
    font-size: 24px;
}

#contact a {
    font-size: 24px;
    font-weight: 500;
    color: seagreen;
}

.smButton {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2%;

    transition: all 6s linear 0s;

    border: 5px solid seagreen;
    background-color: seagreen;

}

#buttons img {
    height: 3rem;
    width: 3rem;
    padding-top: 0.5rem;
}

/*animation keyframes*/
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

/*Skills background animation*/
#tiles {
    height: 700px;
    width: 100%;
    position: relative;
    pointer-events: auto;

    
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);

    animation: background-pan 12s linear infinite;
    background: linear-gradient(
        to right,
        var(--seagreen),
        var(--violet),
        var(--seagreen)
    );
    background-size: 200%;
    overflow: hidden;
    margin: 0px;
    z-index: -1;
}

#tiles.toggled {
    animation: none;
}

.tile {
    cursor: pointer;
    position: relative;
}

.tile:hover:before {
    background-color: rgb(30, 30, 30);
}

.tile:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0.5px;
    position: absolute;
}

/*magic text animation*/
.magic {
    animation: background-pan 12s linear infinite;
    background: linear-gradient(
        to right,
        var(--seagreen),
        var(--violet),
        var(--seagreen)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

/*type-writer*/

.typewriter {
    border-right: .15em solid gray; /* The typwriter cursor */
    animation: 
        blink-caret 1.25s step-end infinite;
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray; }
  }